<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift Errors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05585B581D02A5D4000F5307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05585B6C1D02A5D5000F5307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05585B771D02A5D5000F5307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
